@using LuanVan.Models;
@{
    DataContext db = new DataContext();
    LuanVan.Controllers.SANPHAMsController sANPHAMs = new LuanVan.Controllers.SANPHAMsController();
    LuanVan.Controllers.CHITIETSANPHAMsController cHITIETSANPH = new LuanVan.Controllers.CHITIETSANPHAMsController();

    ViewBag.Title = "SPbyNSX";
    Layout = "~/Views/Shared/_LayoutKH.cshtml";
}

<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container" style="min-height:500px">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="single-shop-product">
                        <div class="product-upper">
                            <asp:Repeater runat="server" id="myRepeater">
                                <ItemTemplate>
                                    <img style="max-height:200px; max-width:200px" src="/HinhAnhSPs/getImage/@item.CTSP_ID" alt="Hình sản phẩm" />

                                </ItemTemplate>
                            </asp:Repeater>
                        </div>
                        <h2><a href="~/ChiTietSanPhams/Details/@item.CTSP_ID">@item.CTSP_TEN</a></h2>
                        <div class="product-carousel-price">
                            <ins>@cHITIETSANPH.GetGia(item.CTSP_ID).ToString("###,###") VND</ins>
                        </div>

                        <div class="product-option-shop">
                            <a class="btn btn-info" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="@Url.Action("ThemVaoGio", "GioHang", new { sanPhamID = cHITIETSANPH.GetSP_ID(item.CTSP_ID) })"><li class="fa fa-shopping-cart"></li> Thêm vào giỏ</a>
                            <a class="btn btn-info" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="@Url.Action("ThemSoSanh", "Home", new { CTSP_ID = item.CTSP_ID })"><li class="fa fa-compass"></li> So Sánh</a>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
