@using LuanVan.Models;
@{
    DataContext db = new DataContext();
    LuanVan.Controllers.SANPHAMsController sANPHAMs = new LuanVan.Controllers.SANPHAMsController();
    LuanVan.Controllers.CHITIETSANPHAMsController cHITIETSANPH = new LuanVan.Controllers.CHITIETSANPHAMsController();

    ViewBag.Title = "SPbyNSX";
    Layout = "~/Views/Shared/_LayoutKH.cshtml";
}

<div class="maincontent-area">
    <div class="zigzag-bottom"></div>
    <div class="container" style="min-height:500px">
        <div class="row">
            <div class="col-md-12 col-sm-6">
                <div class="latest-product">
                    <h4 class="text-center">
                        <span class="clip-text clip-text_fourteen clip-text--cover text-center">
                            @{ string id = ViewBag.NSX_ID;
                            string ten = db.Database.SqlQuery<string>("select NSX_TEN from NhaSanXuat where NSX_ID ='" + id+"'").SingleOrDefault();
                            @Html.Raw(ten)
                            }
                        </span>
                    </h4>
                    <div class="product-carousel">

                        @foreach (var i in Model)
                        {
                            <div class="single-product">
                                <div class="product-f-image">

                                    <asp:Repeater runat="server" id="myRepeater">
                                        <ItemTemplate>
                                            <img src="/HinhAnhSPs/getImage/@i" alt="Hình sản phẩm" />
                                        </ItemTemplate>
                                    </asp:Repeater>
                                    <div class="product-hover">
                                        @if (sANPHAMs.KTKho(i.ToString()) == 0)
                                        {
                                            <h4 class="text-danger">Hết hàng</h4>

                                        }
                                        else
                                        {
                                            <a href="@Url.Action("ThemVaoGio", "GioHang", new { sanPhamID = cHITIETSANPH.GetSP_ID(i.ToString()) })" class="add-to-cart-link"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                                        }

                                        <a href="~/ChiTietSanPhams/Details/@i" class="view-details-link"><i class="fa fa-link"></i>Xem chi tiết</a>
                                    </div>
                                </div>

                                
                               
                                <h4> <div class="text-center">
                                    @sANPHAMs.GetCTSP_TEN(i)
                               </div></h4>

                                <div class="product-carousel-price text-center">

                                    <ins>@cHITIETSANPH.GetGia(i.ToString()).ToString("###,###") VND</ins>
                                </div>

                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
