
@{
    ViewBag.Title = "ViewSP";
    Layout = "~/Views/Shared/_LayoutKH.cshtml";
    LuanVan.Controllers.SANPHAMsController sANPHAMs = new LuanVan.Controllers.SANPHAMsController();
    LuanVan.Controllers.CHITIETSANPHAMsController cHITIETSANPHA = new LuanVan.Controllers.CHITIETSANPHAMsController();
}

<div class="product-big-title-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="product-bit-title text-center">
                    <h2>Shop</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="row">
            @foreach (var i in Model)
            {
                <div class="col-md-6 col-sm-6  colorViewSP1">
                    <div class="single-shop-product  colorViewSP2">
                        <div class="product-upper">
                            <asp:Repeater runat="server" id="myRepeater">
                                <ItemTemplate>
                                    <img class="product-thumbViewSP" src="/HinhAnhSPs/getImage/@i.CTSP_ID" alt="Hình sản phẩm" />
                                </ItemTemplate>
                            </asp:Repeater>
                        </div>
                        <h2><a href="">@i.CTSP_TEN</a></h2>
                        <div class="product-carousel-price">
                            <ins>@cHITIETSANPHA.GetGia(i.CTSP_ID)</ins>
                        </div>
                        @cHITIETSANPHA.GetSP_ID(i.CTSP_ID)
                        <div class="product-option-shop">
                            @if (sANPHAMs.KTKho(i.CTSP_ID) == 0)
                            {
                                <h4 class="text-danger">Hết hàng</h4>

                            }
                            else
                            {
                                <a href="@Url.Action("ThemVaoGio", "GioHang", new { sanPhamID = cHITIETSANPHA.GetSP_ID(i.CTSP_ID) })" class="add_to_cart_button"><i class="fa fa-shopping-cart"></i>Thêm vào giỏ</a>
                            }

                        </div>
                    </div>
                </div>
            }
            <div class="row">
                <div class="col-md-12">
                    <div class="product-pagination text-center">
                        <nav>
                            <ul class="pagination">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

