<a href="#test-popup" class="open-popup-link">Show inline popup</a>
<!--
Alternative markup with data-mfp-src attribute:
<a href="mobile-friendly-page.html" data-mfp-src="#test-popup" class="open-popup-link">Show inline popup</a>
-->
<!-- Popup itself -->
<div id="test-popup" class="white-popup mfp-hide">
    Popup content
</div>

<style>
    .white-popup {
        position: relative;
        background: #FFF;
        padding: 20px;
        width: auto;
        max-width: 500px;
        margin: 20px auto;
    }
</style>

<script>
    // Example 1: From an element in DOM
    $('.open-popup-link').magnificPopup({
        type: 'inline',
        midClick: true // allow opening popup on middle mouse click. Always set it to true if you don't provide alternative source.
    });

    // Example: 2 Dynamically created
    $('button').magnificPopup({
        items: {
            src: '<div class="white-popup">Dynamically created popup</div>',
            type: 'inline'
        },
        closeBtnInside: true
    });


</script>