
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<script language="javascript">

    angular.module('myapp', [])
        .controller('DateController', ['$scope', function ($scope) {
            $scope.value2 = new Date("@ViewBag.dauthang");
            $scope.value1 = new Date("@ViewBag.cuoithang");
        }]);

</script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="~/Content/Chart/Canvas.js"></script>
    <title>Thống kê bán</title>
</head> @using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <body >
        <br />
        <br />
        <div ng-app="myapp" class="container">
            <div class="col-md-8 col-sm-8" name="myForm" ng-controller="DateController">
                <div class="col-md-3 col-sm-3">
                    <label class="control-label">Ngày bắt đầu</label>
                    <input type="date" ng-model="value2" id="dauthang" name="dauthang" class="form-control" />
                </div>
                <div class="col-md-3 col-sm-3">
                    <label class="control-label">Ngày kết thúc</label>
                    <input type="date" ng-model="value1" id="cuoithang" name="cuoithang" class="form-control" />
                </div>
                <div class="col-md-2 col-sm-2">
                    <input type="submit" id="thongke1" style="margin-top:25px" class="btn btn-success" value="Thống kê" />
                </div>
            </div>
        </div>
        <br />
        <div class="row"></div>
        <div id="chartContainer" class="container"></div>

        <script type="text/javascript">

        window.onload = function () {
            var chart = new CanvasJS.Chart("chartContainer",
                {
                    title: {
                        text: "Thống kê bán"
                    },

                    data: [
                        {
                            type: "area",
                            dataPoints:
                                @Html.Raw(ViewBag.DataPoints.Replace("\"", ""))


/**/
                                }
                        ]
                    });

                chart.render();
            };

        </script>

    </body>

}
</html>