@{
    Layout = "~/Views/Shared/Login/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
   

    <h1>Đang nhập khách hàng</h1>

    <div class="w3layoutscontaineragileits">
        <h2>Trang đang nhập</h2>
        <form action="#" method="post">
            @Html.ValidationSummary(true, "", new { @class = "text-alert" })
            <input type="text" Name="TK" placeholder="Tài khoản" id="TK" required="">
            <input type="password" Name="MK" placeholder="PASSWORD" id="MK" required="">
            <ul class="agileinfotickwthree">
                <li>
                    <input type="checkbox" id="brand1" value="">
                    <label for="brand1"><span></span>Nhớ mật khẩu</label>
                    <a href="#">Quên mật khẩu?</a>
                </li>
            </ul>
            <div class="aitssendbuttonw3ls">
                <input type="submit" value="LOGIN">
                <p>Nhấn để tạo tài khoản mới <span>→</span> <a class="w3_play_icon1" href="#small-dialog1"> Tại đây </a></p>
                <div class="clear"></div>
            </div>
        </form>
    </div>

    <!-- for register popup -->
    <div id="small-dialog1" class="mfp-hide">
        <div class="contact-form1">
            <div class="contact-w3-agileits">
                <h3>From đăng ký</h3>
                <form action="~/KhachHangs/CreateKH" method="post" id="registerform">
                    <div class="form-sub-w3ls">
                        <input placeholder="Tên khách hàng" type="text" required="" data-val="true" data-val-length="The field Tên khách hàng must be a string with a maximum length of 100." data-val-length-max="100" data-val-required="Tên không được rỗng" id="KH_TEN" name="KH_TEN">
                        <div class="icon-agile">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="form-sub-w3ls">
                        <input placeholder="Email" class="mail" data-val="true" data-val-length="The field Email must be a string with a maximum length of 100." data-val-length-max="100" data-val-required="Email không được rỗng" id="KH_EMAIL" name="KH_EMAIL" type="email" required="">
                        <div class="icon-agile">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="form-sub-w3ls">
                        <input placeholder="Địa chỉ" type="text" data-val="true" data-val-length="The field Địa chỉ must be a string with a maximum length of 200." data-val-length-max="200" data-val-required="Địa chỉ không được rỗng" id="KH_DIACHI" name="KH_DIACHI" required="">
                        <div class="icon-agile">
                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="form-sub-w3ls">
                        <input placeholder="Tài khoản" data-val="true" data-val-length="The field Tài khoản must be a string with a maximum length of 16." data-val-length-max="16" data-val-required="Tài khoản không được rỗng" id="KH_TAIKHOAN" name="KH_TAIKHOAN" type="text" value="" required="">
                        <div class="icon-agile">
                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="form-sub-w3ls">
                        <input placeholder="Mật khẩu" data-val="true" data-val-length="The field Mật khẩu must be a string with a maximum length of 200." data-val-length-max="200" data-val-required="Mật khẩu không được rỗng" id="KH_MATKHAU" name="KH_MATKHAU" type="password" value="" required="">
                        <div class="icon-agile">
                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                        </div>
                    </div>

                    <div class="form-sub-w3ls">
                        <input placeholder="Mật khẩu xác nhận" type="password" data-val="true" data-val-length="The field KH_MATKHAU must be a string with a maximum length of 200." data-val-length-max="200" id="KH_MATKHAU1" name="KH_MATKHAU1" value="" required="">
                        <div class="icon-agile">
                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                        </div>
                    </div>
                    <span class="field-validation-valid text-danger" id="ViewKTMK" data-valmsg-for="KH_MATKHAU" data-valmsg-replace="true"></span>
                    <div class="login-check">
                        <label class="checkbox"><input type="checkbox" name="checkbox" checked="">I Accept Terms & Conditions</label>
                    </div>

                    <div class="submit-w3l">
                        <input type="button" class="btn btn-success" id="register" value="Register">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- //for register popup -->

   


    <script type="text/javascript" src="~/Content/css/Login/js/jquery-2.1.4.min.js"></script>

    <!-- pop-up-box-js-file -->
    <script src="~/Content/css/Login/js/jquery.magnific-popup.js" type="text/javascript"></script>
    <!--//pop-up-box-js-file -->
    <script>
        $(document).ready(function () {
            $('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });

            var MK = document.getElementById("KH_MATKHAU")
            var MK1 = document.getElementById("KH_MATKHAU1")
            var TK = document.getElementById("KH_TAIKHOAN")
            var TEN = document.getElementById("KH_TEN")
            var EMAIL = document.getElementById("KH_EMAIL")
            var DIACHI = document.getElementById("KH_DIACHI")

            $('#register').click(function () {
                
                if (TEN.value == "") {
                    alert("Tên khách hàng không được rỗng !")
                } else if (EMAIL.value == "") {
                    alert("Email không được rỗng !")
                } else if (DIACHI.value == "") {
                    alert("Địa chỉ không được rỗng !")
                } else if (TK.value == "") {
                    alert("Tài khoản không được rỗng !")
                } else if (MK.value == "") {
                    alert("Mật khẩu không được rỗng !")
                } else if (MK1.value == "") {
                    alert("Mật khẩu không được rỗng !")
                } else {
                    $.ajax({
                        type: "GET",
                        url: '/KhachHangs/Createkh/',
                        data: { 'id': TEN.value, 'id1': EMAIL.value, 'id2': DIACHI.value, 'id3': TK.value, 'id4': MK.value, 'id5': MK1.value },
                        success: function (result) {
                            $('#ViewKTMK').html(result)
                        }
                    
                    })
                }
            })
           

         

            $("#KH_MATKHAU1").change(function () {
                $.ajax({
                    type: "GET",
                    url: '/KHACHHANGs/KTMK/',
                    data: { 'id': MK.value, 'id1': MK1.value },
                    success: function (result) {
                        $('#ViewKTMK').html(result)
                    }
                })
            })
            $("#KH_TAIKHOAN").change(function () {
                $.ajax({
                    type: "GET",
                    url: '/KHACHHANGs/KTTK',
                    data: { 'id': TK.value },
                    success: function (result) {
                        $('#ViewKTMK').html(result)
                    }
                })
            })
        });
    </script>

}
