@model LuanVan.Models.KHACHHANG

@{
    ViewBag.Title = "CreateKH";
    Layout = "~/Views/Shared/Login/_Layout.cshtml";
}

<h2>Đăng ký tài khoản</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <hr />

    <div style="background-color: red">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    </div>
    <div class="contact-form1" style="max-width:500px; margin-left:30%">
        <div class="contact-w3-agileits">
            <h3>From đăng ký</h3>
            <form action="~/KhachHangs/CreateKH" method="post" id="registerform">
                <span class="field-validation-valid text-danger" id="ViewKTMK" data-valmsg-for="KH_MATKHAU" data-valmsg-replace="true"></span>

                <div class="form-sub-w3ls">
                    <input placeholder="Tên khách hàng" type="text" required="" oninvalid="this.setCustomValidity('Không được để trống Tên')"
                           oninput="setCustomValidity('')" data-val="true" data-val-length="The field Tên khách hàng must be a string with a maximum length of 100." data-val-length-max="100" data-val-required="Tên không được rỗng" id="KH_TEN" name="KH_TEN">
                    <div class="icon-agile">
                        <i class="fa fa-user" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="form-sub-w3ls">
                    <input placeholder="Email" class="mail" data-val="true" data-val-length="The field Email must be a string with a maximum length of 100." data-val-length-max="100" data-val-required="Email không được rỗng" id="KH_EMAIL" name="KH_EMAIL" type="email" required="" oninvalid="this.setCustomValidity('Email không được rỗng')" oninput="setCustomValidity('')">
                    <div class="icon-agile">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="form-sub-w3ls">
                    <input placeholder="Địa chỉ" oninvalid="this.setCustomValidity('Địa chỉ không được rỗng')" oninput="setCustomValidity('')" type="text" data-val="true" data-val-length="The field Địa chỉ must be a string with a maximum length of 200." data-val-length-max="200" data-val-required="Địa chỉ không được rỗng" id="KH_DIACHI" name="KH_DIACHI" required="">
                    <div class="icon-agile">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="form-sub-w3ls">
                    <input placeholder="Số điện thoại" oninvalid="this.setCustomValidity('SĐT không được rỗng')" oninput="setCustomValidity('')" type="text" data-val="true" data-val-length="The field Số điện thoại must be a string with a maximum length of 200." data-val-length-max="11" data-val-required="Số điện thoại không được rỗng" id="KH_SDT" name="KH_SDT" required="">
                    <div class="icon-agile">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="form-sub-w3ls">
                    Giới tính :
                    <input type="radio" checked="checked" id="KH_GIOITINH" name="KH_GIOITINH" value="Nam" />Nam
                    <input type="radio" id="KH_GIOITINH" name="KH_GIOITINH" value="Nữ" />Nữ
                    <input type="radio" id="KH_GIOITINH" name="KH_GIOITINH" value="Khác" />Khác

                    <div class="icon-agile">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="form-sub-w3ls">
                    <input placeholder="Tài khoản" oninvalid="this.setCustomValidity('Tài khoản không được rỗng')" oninput="setCustomValidity('')" data-val="true" data-val-length="The field Tài khoản must be a string with a maximum length of 16." data-val-length-max="16" data-val-required="Tài khoản không được rỗng" id="KH_TAIKHOAN" name="KH_TAIKHOAN" type="text" value="" required="">
                    <div class="icon-agile">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="form-sub-w3ls">
                    <input placeholder="Ngày sinh (Tháng/Ngày/Năm)" oninvalid="this.setCustomValidity('Ngày sinh không được rỗng')" oninput="setCustomValidity('')" data-val="true" data-val-length="The field Tài khoản must be a string with a maximum length of 16." data-val-length-max="16" data-val-required="Ngày sinh không được rỗng" id="KH_NGAYSINH" name="KH_NGAYSINH" type="text" value="" required="">
                    <div class="icon-agile">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="form-sub-w3ls">
                    <input placeholder="Mật khẩu từ 6 ký tự" oninvalid="this.setCustomValidity('Mật khẩu không được rỗng')" oninput="setCustomValidity('')" data-val="true" data-val-length="The field Mật khẩu must be a string with a maximum length of 200." data-val-length-max="200" data-val-required="Mật khẩu không được rỗng" id="KH_MATKHAU" name="KH_MATKHAU" type="password" value="" required="">
                    <div class="icon-agile">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </div>
                </div>

                <div class="form-sub-w3ls">
                    <input placeholder="Mật khẩu xác nhận" oninvalid="this.setCustomValidity('Mật khẩu xác nhận không được rỗng')" oninput="setCustomValidity('')" type="password" data-val="true" data-val-length="The field KH_MATKHAU must be a string with a maximum length of 200." data-val-length-max="200" id="KH_MATKHAU1" name="KH_MATKHAU1" value="" required="">
                    <div class="icon-agile">
                        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="login-check">
                    <label class="checkbox"><input type="checkbox" name="checkbox" checked="checked">I Accept Terms & Conditions</label>
                </div>

                <div class="submit-w3l">
                    <input type="submit" class="btn btn-success" id="register" value="Đăng ký">
                    <a href="~/Logins/LoginKH">Về đăng nhập</a>
                </div>
            </form>
        </div>
    </div>

</div>
}

<script>
    $(document).ready(function () {
    
        var MK = document.getElementById("KH_MATKHAU")
        var MK1 = document.getElementById("KH_MATKHAU1")
        var TK = document.getElementById("KH_TAIKHOAN")
        var TEN = document.getElementById("KH_TEN")
        var EMAIL = document.getElementById("KH_EMAIL")
        var DIACHI = document.getElementById("KH_DIACHI")


        $('#KH_EMAIL').change(function () {
            $.ajax({
                type: "GET",
                url: '/KhachHangs/KTEMAIL/',
                data: { 'KH_EMAIL': EMAIL.value },
                success: function (result) {
                    $('#ViewKTMK').html(result)
                }

            })
        })

        //$('#register').click(function () {
        //    if (TEN.value == "") {
        //        alert("Tên khách hàng không được rỗng !")
        //    } else if (EMAIL.value == "") {
        //        alert("Email không được rỗng !")
        //    } else if (DIACHI.value == "") {
        //        alert("Địa chỉ không được rỗng !")
        //    } else if (TK.value == "") {
        //        alert("Tài khoản không được rỗng !")
        //    } else if (MK.value == "") {
        //        alert("Mật khẩu không được rỗng !")
        //    } else if (MK1.value == "") {
        //        alert("Mật khẩu không được rỗng !")
        //    } else {
        //$.ajax({
        //    type: "GET",
        //    url: '/KhachHangs/Createkh/',
        //    data: { 'KH_TEN': TEN.value, 'KH_EMAIL': EMAIL.value, 'KH_DIACHI': DIACHI.value, 'KH_TAIKHOAN': TK.value, 'KH_MATKHAU': MK.value, 'KH_MATKHAU1': MK1.value },
        //    success: function (result) {
        //        $('#ViewKTMK').html(result)
        //    }

        //})
        //    }
        //})




        $("#KH_MATKHAU1").change(function () {
            $.ajax({
                type: "GET",
                url: '/KHACHHANGs/KTMK/',
                data: { 'id': MK.value, 'id1': MK1.value },
                success: function (result) {
                    $('#ViewKTMK').html(result)
                }
            })
        })


        $("#KH_TAIKHOAN").change(function () {
            $.ajax({
                type: "GET",
                url: '/KHACHHANGs/KTTK/',
                data: { 'KH_TAIKHOAN': TK.value },
                success: function (result) {
                    $('#ViewKTMK').html(result)
                }
            })
        })
    });


</script>