
@{
    ViewBag.Title = "ThongBao";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Thêm thông báo</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal" style="min-height:500px">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label class="control-label col-md-2" for="ThongBao">Nội dung thông báo</label>
        <div class="col-md-10">
            <input class="form-control text-box single-line" data-val="true" data-val-length="The field Tên must be a string with a maximum length of 255." data-val-length-max="255" id="ThongBao" name="ThongBao" type="text" value="" />
            <span class="field-validation-valid text-danger" data-valmsg-for="ThongBao" data-valmsg-replace="true"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-success" />
        </div>
    </div>
</div>

}